@model IEnumerable<ProvaDjalma.Models.Vendedor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar vendedor", "NovoVendedor")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.Nome_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.Senha)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.Celular)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Nome_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Celular)
            </th>
            <th>
                @Html.ActionLink("Editar", "edit" , new {id = item.Id})
             </th
        </tr>
    }
</table>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
